/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typeit-cursor {
  border-right: 2px solid #000; /* 커서의 두께와 색 */
  animation: blink 1s step-end infinite; /* 깜빡이는 애니메이션 */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes flow {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-flow-x {
  animation: flow 30s linear infinite;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
