html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/quizBackground.svg');
    background-repeat: repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .quiz-container {
    width: 100vw;
    min-height: 100vh;
    position: relative;
    font-family: 'Arial', sans-serif;
    padding-bottom: 40px;
    overflow: auto;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
  }
  
  .quiz-box {
    background-image: url('../img/Honey.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 80vw;
    max-width: 800px;
    aspect-ratio: 1.5 / 1;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4.5%;
    box-sizing: border-box;
  }
  
  .quiz-inputs {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 4px;
    text-align: left;
  }
  
  .question-input,
  .answer-input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    font-size: 14px;
  }
  
  .quiz-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 30%;
    margin: 32px auto;
  }
  
  .add-question-btn,
  .start-btn {
    background-color: #a86800;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  